# 模型配置
# 不同厂商需要配置不同的 AUTH_TOKEN 或者 API_KEY 
# 比如 aihubmix 需要配置 ANTHROPIC_API_KEY 参考 https://docs.aihubmix.com/api/Claude-Native
# Openrouter 需要配置 ANTHROPIC_AUTH_TOKEN 参考 https://openrouter.ai/docs/guides/guides/claude-code-integration
ANTHROPIC_BASE_URL=https://your-anthropic-endpoint.com
ANTHROPIC_AUTH_TOKEN=your-token
ANTHROPIC_DEFAULT_OPUS_MODEL=claude-opus
ANTHROPIC_DEFAULT_SONNET_MODEL=claude-sonnet
ANTHROPIC_DEFAULT_HAIKU_MODEL=claude-haiku


# Claude 功能控制
DISABLE_NON_ESSENTIAL_MODEL_CALLS=1
CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS=1
# CLAUDE_CODE_ENABLE_TELEMETRY=1

# API 密钥配置
FIRECRAWL_API_KEY=

# OpenTelemetry 配置
# OTEL_LOG_USER_PROMPTS=1
# OTEL_METRICS_EXPORTER=otlp
# OTEL_LOGS_EXPORTER=otlp
# OTEL_EXPORTER_OTLP_PROTOCOL=
# OTEL_EXPORTER_OTLP_ENDPOINT=
# OTEL_EXPORTER_OTLP_HEADERS=
